td{
    border: 2px solid grey;
}
table{
    margin: 0 auto;
}
button{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    background-color: rgba(206, 206, 206, 0.767);
}
.btn{
    background-color: rgba(107, 19, 63, 0.767);
    margin: 0 auto;
    padding: 10px;
}
.btn2{
    background-color: rgba(73, 163, 21, 0.767);
    margin-top: 10px;
    margin: 0 auto;
    padding: 10px;
}
.btn3{
    background-color: rgba(26, 153, 147, 0.767);
    margin-top: 10px;
    margin: 0 auto;
    padding: 10px;
}